/* ***** Custom properties **** */

:root{
    /* ===colors === */
    --background-site: rgb(20, 21, 25);
    --background-card: rgb(33, 40,50);
    --gray-dark: rgb(38, 47, 56);
    --gray: rgb(124, 136, 152);
    --white: #fff;
    --cta: rgb(252, 118, 19);

    /* ===== fonts ==== */
    --font: 'Overpass', sans-serif;
}

/***** reset *****/
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/***** site styles *****/
body{
    background-color: var(--background-site);
    padding: 0 1.5rem;
}

main{
    min-height: calc(100vh - .875rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** utilities *****/
.btn{
    width: 100%;
    height: 2.875rem;
    font-family: var(--font);
    letter-spacing: .1875rem;
    border-radius: 1.4375rem;
    border: none;
    cursor: pointer;
}

.cta{
    background-color: var(--cta);
    color: var(--white);
    font-weight: 700;
    transition: 
        background-color .3s ease-in-out,
        color .3s ease-in-out;
}

.cta:hover{
    background-color: var(--white);
    color: var(--cta);
}

/* === card rating === */

.card-rating{
    padding: 1.5rem 1.5rem 2rem;
    background: radial-gradient(circle at top, rgb(45,52,62) 10%, var(--background-card) 45%);
    background-position:top;
    border-radius: 1rem;
    max-width: 25.75rem;
}

.card-rating__icon{
    margin-bottom: .625rem;
}

.card-rating__icon,
.card-rating__rate label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--gray-dark);
    border-radius: 50%;
}

.card-rating__message{
    margin-bottom: 1.5rem;
}

.card-rating__message h1{
    font-size: 1.5rem;
    line-height: 2;
    color: var(--white);
}

.card-rating__message p,
.card-rating__rate label{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--gray);
}


.card-rating__rates{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.card-rating__rate{
    position: relative;
}

.card-rating__rate label{
    transition: 
        background-color .3s ease-in-out,
        color .3s ease-in-out;
}

.card-rating__rate label:hover{
    background-color: var(--cta);
    color: var(--white);
    cursor: pointer;
}

.card-rating__rate input[type="radio"]{
    position: absolute;
    z-index: -1;
}

.card-rating__rate input[type="radio"]:checked + label{
    background-color: var(--gray);
    color: var(--white);
}

.card-rating .btn{
    margin: 0 auto;
    display: block;
}

@media (min-width: 48rem) {
    .card-rating{
        padding: 2rem;
        border-radius: 2rem;
    }

    .card-rating__icon,
    .card-rating__message{
        margin-bottom: 1.875rem;
    }

    .card-rating__rates{
        margin-bottom: 2rem;
    }

    .card-rating__icon,
    .card-rating__rate label{
        width: 3rem;
        height: 3rem;

    }
}

/* === card thanks === */

.card-thanks__hero{
    height: 6rem;
    margin: .625rem 0;
    text-align: center;
}

.card-thanks__hero img{
    height: 100%;
    width: auto;
}

.card-thanks__rate{
    height: 2rem;
    width: max-content;
    padding: 0 1rem;
    border-radius: 1rem;
    margin: 1rem auto 1.5rem;
    text-align: center;
    background-color: var(--gray-dark);
    font-size: 1rem;
    line-height: 2rem;
    color: var(--cta);
}

.card-thanks__message{
    text-align: center;
}

.card-thanks__message h1{
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: .25rem;
}

.card-thanks__message p{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--gray);
    margin-bottom: .5625rem;
}

@media (min-width: 48rem) {
    .card-thanks__hero{
        height: 6.6875rem;
        margin: .875rem 0 2rem;
    }

    .card-thanks__rate{
        margin: 0 auto 1.5rem;
    }

    .card-thanks__message h1{
        line-height: 2;
    }

    .card-thanks__message p{
        margin-bottom: 1.125rem;
    }
}



/* ==== footer ==== */
.attribution { 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px; text-align: center; 
    color: var(--gray)
}
.attribution a { 
    color: var(--white);
    text-decoration: none;
}